// {
//   "presets": [
//     ["env", {
//       "modules": false,
//       "targets": {
//         "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
//       }
//     }],
//     "stage-2"
//   ],
//   "plugins": ["transform-vue-jsx", "transform-runtime","@babel/plugin-proposal-optional-chaining"],
//   "env": {
//     "test": {
//       "presets": ["env", "stage-2","@babel/preset-env"],
//       "plugins": ["transform-vue-jsx", "transform-es2015-modules-commonjs", "dynamic-import-node","@babel/plugin-proposal-optional-chaining"]
//     }
//   }
// }



{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }]
  ],
  "plugins": [
    "transform-vue-jsx",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-optional-chaining"
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": [
        "transform-vue-jsx",
        "transform-es2015-modules-commonjs",
        "dynamic-import-node",
        "@babel/plugin-proposal-optional-chaining"
      ]
    }
  }
}