@font-face {
  font-family: "iconfont"; /* Project id 3183128 */
  src: url('iconfont.woff2?t=1644926926210') format('woff2'),
       url('iconfont.woff?t=1644926926210') format('woff'),
       url('iconfont.ttf?t=1644926926210') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e6b7";
}

.icon-lianjie:before {
  content: "\e6c8";
}

.icon-16:before {
  content: "\e615";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-liuyan:before {
  content: "\e614";
}

.icon-heart:before {
  content: "\e87f";
}

.icon-she:before {
  content: "\e845";
}

.icon-biaoqian_o:before {
  content: "\eb47";
}

.icon-pinglun:before {
  content: "\e665";
}

.icon-fuhao-shijianzhou:before {
  content: "\e619";
}

.icon-shujutongji:before {
  content: "\e61a";
}

